:root {
    /* colors */ 
    --light-green: hsl(148, 38%, 91%);
    --green: hsl(169, 82%, 27%);
    --red: hsl(0, 66%, 54%);

    --white: hsl(0, 0%, 100%);
    --medium-gray: hsl(186, 15%, 59%);
    --dark-gray: hsl(187, 24%, 22%);
}